
<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}} </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)=" hideModal()">
        <span aria-hidden="true">&times;</span>
    </button>
 </div>
 <!-- DEPOSIT FUND -->
 <!-- <div *ngIf = dpositfnd> -->
    <!-- <div id="content">
        <div class="mb30">
            <div class="row">
                <h1 class="fl-l-lg reversed">Deposit</h1>
                <div class="required fl-r-lg reversed">* Indicates required field</div>
            </div>
        </div>

        <form [formGroup]="UserFormInfo" class="form">
            <input name="" type="hidden" />
            <fieldset>
                <div class="row">
                    <label for="DepositModel_TradeAccount">Trade Account: *</label>
                    <div class="row-control">
                        <div class="formset">
                            <select
                                data-val="true"
                                data-val-localizedrequired="Please re-enter Trade Account"
                                data-val-localizedrequired-otherpropertyname="ProjectManager"
                                data-val-number="The field Trade Account: * must be a number."
                                id="DepositModel_TradeAccount"
                                name="DepositModel.TradeAccount"
                                formControlName="trdeaccount"
                            >
                                <option value="{{this.bindLoginData?.TPAccountNumber}}">{{this.bindLoginData?.TPAccountNumber}}</option>
                            </select>
                        </div>
                        <span class="error"><span class="field-validation-valid" data-valmsg-for="DepositModel.TradeAccount" data-valmsg-replace="true"></span></span>
                    </div>
                </div>
                <div class="row">
                    <label for="DepositModel_Amount">Amount: *</label>
                    <div class="row-control">
                        <div class="formset">
                            <div class="formitems">
                                <div class="formitem span-8">
                                    <input
                                        data-val="true"
                                        data-val-localizedrequired="Please re-enter Amount"
                                        data-val-localizedrequired-otherpropertyname="ProjectManager"
                                        data-val-mindepositvalidator="Deposit should be greater than or equal to 1"
                                        data-val-mindepositvalidator-otherpropertyname="1"
                                        data-val-number="The field Amount: * must be a number."
                                        id="DepositModel_Amount"
                                        name="DepositModel.Amount"
                                        type="text"
                                        value=""
                                        formControlName="amount"
                                    />
                                </div>
                                <div class="formitem span-4 mark"><span id="currentCurrency" class="mark">{{this.bindLoginData?.CurrencyName}}</span></div>
                            </div>
                            <span class="error"><span class="field-validation-valid" data-valmsg-for="DepositModel.Amount" data-valmsg-replace="true"></span></span>
                        </div>
                    </div>
                </div>

                <input
                    data-val="true"
                    data-val-localizedrequired="Please re-enter Zip / Postal Code"
                    data-val-localizedrequired-otherpropertyname="ProjectManager"
                    id="DepositModel_Zip"
                    name="DepositModel.Zip"
                    type="hidden"
                    value=""
                />
                <input data-val="true" data-val-localizedrequired="Please re-enter City" data-val-localizedrequired-otherpropertyname="ProjectManager" id="DepositModel_City" name="DepositModel.City" type="hidden" value="London" />
                <input
                    data-val="true"
                    data-val-localizedrequired="Please re-enter Address"
                    data-val-localizedrequired-otherpropertyname="ProjectManager"
                    id="DepositModel_Address"
                    name="DepositModel.Address"
                    type="hidden"
                    value=""
                />
                <input
                    data-val="true"
                    data-val-localizedemail="Please re-enter Email"
                    data-val-localizedemail-otherpropertyname="ProjectManager"
                    data-val-localizedrequired="Please re-enter Email"
                    data-val-localizedrequired-otherpropertyname="ProjectManager"
                    id="DepositModel_Email"
                    name="DepositModel.Email"
                    type="hidden"
                    value=""
                />
                <input
                    data-val="true"
                    data-val-localizedrequired="Please re-enter Country"
                    data-val-localizedrequired-otherpropertyname="ProjectManager"
                    id="DepositModel_Country"
                    name="DepositModel.Country"
                    type="hidden"
                    value=""
                />
                <input
                    data-val="true"
                    data-val-localizedrequired="Please re-enter Phone Number"
                    data-val-localizedrequired-otherpropertyname="ProjectManager"
                    id="DepositModel_PhoneNumber"
                    name="DepositModel.PhoneNumber"
                    type="hidden"
                    value=""
                />
                <input id="PaymentId" name="PaymentId" type="hidden" value="62ae55b5-afa9-4b0c-b8dc-df108e924956" />

                <div class="row button-row">
                    <div class="buttonset">
                        <a class="button" href="javascript:void(0);" (click)="addfund()"><span>Submit</span></a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div> -->
 <!-- </div> -->

 <!-- <div class="form-holder">
   
    <form [formGroup]="UserFormInfo">
       <div  class="form-group">
          <div class="row">
             <div class="col-xs-2 col-md-2 "><label class="valign-label" for="UserId"><span
                      data-tooltip-el="">Trade Account</span></label></div>
             <div class="col-xs-10 col-md-10">
                <select _ngcontent-qpo-c3="" class=" form-control itemformcontrol" 
                   data-live-search="true" formControlName="trdeaccount">
                   <option ngcontent-qpo-c3="" value="">Select</option>
                   <option ngcontent-qpo-c3="" value="{{this.bindLoginData?.TPAccountNumber}}">
 
                    {{this.bindLoginData?.TPAccountNumber}}</option>
                </select>
             </div>
          </div>
       </div>
       <div class="form-group">
          <div class="row">
             <div class="col-xs-2 col-md-2 "><label class="valign-label" for="UserId"><span
                      data-tooltip-el="">Amount</span></label></div>
             <div class="col-xs-10 col-md-10">
 
                <input class="form-control itemformcontrol"
                name="Email" formControlName="amount" type="text" aria-required="true">
             </div>
          </div>
       </div>
    </form>
 </div>
 
 <div class="row">
    <div _ngcontent-yvm-c4="" class="col-md-12" style="text-align: center;
  justify-content: center;
  display: flex;">
       <div _ngcontent-yvm-c4="" class="modal-footer item-modal-footer">
 
          <div _ngcontent-yvm-c4="" class="text-center margin17">
             <a _ngcontent-yvm-c4="" id="create-task-refersh" class="button submit-button itembutton" href="javascript:void(0)"
                data-dismiss="modal" (click)="addfund()">Add</a>
          </div>
       </div>
    </div>
 </div> -->