<header>
    <div class="main-holder">
    <h1 class="logo">
        <img alt="" src="/assets/images/logo.png">
    </h1>
    <!----><div class="welcome-name">
        Hello,&nbsp;{{this.bindLoginData?.UserName}}&nbsp;
    </div>
    <div class="top-panel">
        <!---->
        <div class="user-balance">
            <!---->
            <!----><div>
                Balance : 
                <strong>
                    <span>{{this.bindLoginData?.CurrencyName}} </span> {{this.bindLoginData?.Balance}}
                </strong>
            </div>
        </div><a class="button button5 btn-md btn-deposit" href="javascript:void(0);" (click)="openpopupfordeposit()"><span>DEPOSIT</span></a><div class="btn-group item account-nav" dropdown="">
            <a dropdowntoggle="" href="javascript:void(0);" aria-haspopup="true">
              <span>
                  <span>
                   <!---->
                   <!----><span>Real Account</span>
                  </span>
              </span>
            </a>
            <div class="dropdown-menu" role="menu">
                <div class="col">
                    <!---->
                    <!----><div class="item active">
                        <h2>Real Account</h2>
                        <dl>
                            <dt>Balance: </dt>
                            <dd><span class="color01">
                                <span>{{this.bindLoginData?.CurrencyName}} </span> {{this.bindLoginData?.Balance}}</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>ID: </dt>
                            <dd>{{this.bindLoginData?.TPAccountNumber}}</dd>
                        </dl>
                    </div>
                </div>
                <div class="col col2">
                    <h2>Personal information</h2>
                    <!----><dl>
                        <dt>Name: </dt>
                        <dd>{{this.bindLoginData?.UserName}}&nbsp;</dd>
                    </dl>
                    <dl class="mb20">
                      <dt>Registration date: </dt>
                      <dd>{{this.bindLoginData?.CreatedAt}}</dd>  
                    </dl>
                    <h2>Trading information</h2>
                    <dl>
                      <dt>Currency: </dt>
                      <dd>{{this.bindLoginData?.CurrencyName}}</dd>  
                    </dl>
                    <dl>
                      <dt>Leverage: </dt>
                      <dd>{{this.bindLoginData?.LeverageName}}</dd>  
                    </dl>
                    <dl class="mb20">
                      <dt>Stop out:</dt>
                      <dd>{{this.bindLoginData?.StopOut}}</dd>  
                    </dl>
                    <dl>
                      <dt>Profit: </dt>
                      <dd><span class="color01">{{this.bindLoginData?.OpenProfit}}</span></dd>  
                    </dl>
                </div>
            </div>
        
          </div>
          <div class="btn-group item language-nav">
            <!-- <ng-select bindlabel="language" bindvalue="id" class="ng-select bottom ng-single ng-untouched ng-pristine ng-valid ng-selected" name="userSelectedLanguage" placeholder="All sides" role="dropdown">
                <div class="ng-control">
    <div class="ng-value-container">
        <div class="ng-placeholder">All sides</div>
        <div class="ng-value"> 
                    EN       
        </div>
    </div>
    <span class="ng-arrow-zone">
        <span class="ng-arrow"></span>
    </span>
</div>
</ng-select> -->
        </div>
        <div class="btn-group item tools-nav" dropdown="">
            <a dropdowntoggle="" href="javascript:void(0);" aria-haspopup="true">Open</a>
            <div class="dropdown-menu" role="menu">
                <ul>
                    <li role="menuitem"><a class="link-settings" href="javascript:void(0);">Settings</a></li>
                    
                    <li role="menuitem">
                        <a class="link-logout" (click)="logout()" href="javascript:void(0);">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</header>
