<p>home works!</p>
<div class="main-holder">
    <h1 class="logo">
        <img alt="" src="/assets/images/logo.png">
    </h1>
    <!----><div class="welcome-name">
        Hello,&nbsp;rohan&nbsp;gupta
    </div>
    <div class="top-panel">
        <!---->
        <div class="user-balance">
            <!---->
            <!----><div>
                Balance : 
                <strong>
                    <span>€</span>10000.00
                </strong>
            </div>
        </div><a class="button button5 btn-md btn-deposit" href="#"><span>DEPOSIT</span></a><div class="btn-group item account-nav" dropdown="">
            <a dropdowntoggle="" href="#" aria-haspopup="true">
              <span>
                  <span>
                   <!---->
                   <!----><span>Real Account</span>
                  </span>
              </span>
            </a>
            <!---->
          </div><div class="btn-group item language-nav">
            <ng-select bindlabel="language" bindvalue="id" class="ng-select bottom ng-single ng-untouched ng-pristine ng-valid ng-selected" name="userSelectedLanguage" placeholder="All sides" role="dropdown"><div class="ng-control">
    <div class="ng-value-container">
        <div class="ng-placeholder">All sides</div>
        <!----><div class="ng-value">
            <!---->

            <!---->
                    <img class="flag" src="/assets/images/lang/EN.png">
                    EN
                
        </div>

        <!----><div class="ng-input">
            <input autocomplete="off" role="combobox" type="text" readonly="">
        </div>
    </div>

    <!---->

    <!---->

    <span class="ng-arrow-zone">
        <span class="ng-arrow"></span>
    </span>
</div>

<!---->

<!---->
</ng-select>
        </div><div class="btn-group item tools-nav" dropdown="">
            <a dropdowntoggle="" href="#" aria-haspopup="true">Open</a>
            <!---->
        </div>
    </div>
</div>